SPRING_PROFILES_ACTIVE=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
ECR_REPO_URI=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
JWT_SECRET=
REDIS_HOST=
REDIS_PORT=
FRONTEND_REDIRECT_URI=
COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_DOMAIN=
FRONTEND_ORIGIN=